.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  text-align: center;
  background: rgb(235, 234, 234);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 2px 2px 5px;
}

.or {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.line {
  height: 1px;
  background: #6d6d6d;
  width: 100%;
}
